{% extends "base.html" %}

{% block title%}Balance{% endblock %}

{% block header %}

<header>
    <nav class="navbar sticky navbar-expand-xl navbar-dark bg-dark fixed-top py-0 text-center text-sm-left">

        <button class="navbar-toggler my-2" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <a class="navbar-brand" href="/"><i class="icon-dollar"> Mój budżet</i></a>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                <a class="nav-link" href="/"><i class="icon-home"> Menu</i></a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/expense"><i class="icon-upload-cloud"> Dodaj wydatek</i></a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/income"><i class="icon-download-cloud"> Dodaj przychód</i></a>
                </li>
                <li class="nav-item active">
                <a class="nav-link" href="/balance"><i class="icon-chart"> Bilans</i></a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/settings"><i class="icon-sliders"> Ustawienia</i></a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/logout"><i class="icon-link-ext"> Wyloguj</i></a>
                </li>
            </ul>

            <div class="navbar-user ml-auto border my-1 p-2 d-inline-block">
            <span>{{ current_user.name }}</span>
            </div>

        </div>

        <ul class="navbar-nav mr-0 ml-auto ml-xl-3 d-inline-block navbar-dark visible-lg">
            <li class="nav-item dropdown">
                <button id="choosePeriodButton" class="nav-link dropdown-toggle p-2" id="navbarDropdown" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">Wybierz okres</button>
                <div class="dropdown-menu navbar-dark" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/balance">Bieżący miesiąc</a>
                <a class="dropdown-item" href="/poprzedni-miesiac">Poprzedni miesiąc</a>
                <a class="dropdown-item" href="/biezacy-rok">Bieżący rok</a>
                <div class="dropdown-divider"></div>
                <button class="dropdown-item" type="button" data-toggle="modal"
                    data-target="#choosePeriod">Niestandardowy</button>

                </div>
            </li>
        </ul>

    </nav>

</header>

  {% endblock %}
  {% block body %}

  <article>
    <div class="bg"></div>

    <div class="container">

       <div class="row">

          <div class="col-lg-8 offset-lg-2 mt-3 bg-balance p-0">

             <h2 id="title" class="text-center font-weight-bold">{{ caption|default('Brak danych!') }}</h2>
             <a href="#" class="scrollup"></a>
             <hr>
             
             <div class="container">
                
                <div class="row mt-4">
                   <div id="incomes" class="col-8 offset-2 col-lg-6 offset-lg-0">
                      <table class="table table-sm  table-striped table-success text-center">
                         <thead>
                            <tr><th scope="col" colspan="3">Przychody</th></tr>
                            <tr><th scope="col">Lp.</th><th scope="col">Kategoria</th><th scope="col">Kwota</th></tr>
                         </thead>
                         <tbody>

                            {% set totalIncomes = 0 %}
                            {% set ordinalNumber = 0 %}

                            {% for income in incomes %}
                                {% set ordinalNumber = ordinalNumber + 1 %}
                                <tr>
                                    <th scope="row">{{ ordinalNumber }}</th>
                                    <td>{{ income.category }}</td>
                                    <td>{{ (income.total)|number_format(2, '.', ' ') }}</td>
                                </tr>
                                {% set totalIncomes = totalIncomes + income.total %}
                            {% endfor %}
                        </tbody>
                        <tbody class="font-weight-bold">
                            <tr>
                                <td></td>
                                <td class="sum">Suma:</td>
                                <td class="sum">{{ (totalIncomes)|number_format(2, '.', ' ') }} zł</td>
                            </tr>
                         </tbody>
                      </table>
                   </div>

                   <div id="expenses" class="col-8 offset-2 col-lg-6 offset-lg-0">
                      <table class="table table-sm  table-striped table-secondary text-center">
                         <thead>
                            <tr><th scope="col" colspan="3">Wydatki</th></tr>
                            <tr><th scope="col">Lp.</th><th scope="col">Kategoria</th><th scope="col">Kwota</th></tr>
                         </thead>
                         <tbody>
                            {% set totalExpenses = 0 %}
                            {% set ordinalNumber = 0 %}

                            {% for expense in expenses %}
                                {% set ordinalNumber = ordinalNumber + 1 %}
                                <tr>
                                    <th scope="row">{{ ordinalNumber }}</th>
                                    <td>{{ expense.category }}</td>
                                    <td>{{ (expense.total)|number_format(2, '.', ' ') }}</td>
                                </tr>
                                {% set totalExpenses = totalExpenses + expense.total %}
                            {% endfor %}
                        </tbody>
                        <tbody class="font-weight-bold">
                            <tr>
                                <td></td>
                                <td class="sum">Suma:</td>
                                <td class="sum">{{ (totalExpenses)|number_format(2, '.', ' ') }} zł</td>
                            </tr>
                         </tbody>
                      </table>
                   </div>
                </div>
                
                <div class="row mt-2">
                    <div id="balance" class="col-8 offset-2">
                        {% set balance = totalIncomes - totalExpenses %}
                        {% set warning = 'Uff.. Żyjesz na krawędzi' %}

                        {% if balance > 0 %}
                            <table class="table table-sm table-striped table-warning  text-center font-weight-bold">
                                <tr>
                                    <td class="sum">Bilans:</td>
                                    <td class="sum">{{ (balance)|number_format(2, '.', ' ') }} zł</td>
                                </tr>
                                <tr>
                                    <td colspan="2">Gratulacje. Świetnie zarządzasz finansami!</td>
                                </tr>
                            </table>
                        {% elseif balance < 0 %}
                            <table class="table table-sm table-striped table-danger  text-center font-weight-bold text-dark">
                                <tr>
                                    <td class="sum">Bilans:</td>
                                    <td class="sum">{{ (balance)|number_format(2, '.', ' ') }} zł</td>
                                </tr>
                                <tr>
                                    <td colspan="2">Uważaj, wpadasz w długi!</td>
                                </tr>
                            </table>
                        {% else %}
                            <table
                                class="table table-sm table-striped table-warning  text-center font-weight-bold text-dark">
                                <tr>
                                    <td class="sum">Bilans:</td>
                                    <td class="sum">{{ (balance)|number_format(2, '.', ' ') }} zł</td>
                                </tr>
                                <tr>
                                    <td colspan="2">Uff.. Żyjesz na krawędzi!</td>
                                </tr>
                            </table>
                        {% endif %}
                    </div>
                </div>

                <div class="row">
                   <div id="piechart" class="col-8 mx-auto"></div>
                </div>

                <div class="row mt-4">
                   <div id="incomesDetailed" class="col">
                        <form>
                            <table class="table table-responsive-sm table-sm table-striped table-success text-center">
                                <thead>
                                    <tr>
                                        <th scope="col" colspan="6">Szczegółowe zestawienie przychodów</th></tr><tr><th scope="col">Lp.</th>
                                        <th scope="col">Data</th>
                                        <th scope="col">Kwota</th>
                                        <th scope="col">Kategoria</th>
                                        <th scope="col">Komentarz</th>
                                        <th scope="col">Usuń</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% set ordinalNumber = 0 %}

                                    {% for incomeDetail in incomesDetail %}
                                        {% set ordinalNumber = ordinalNumber + 1 %}

                                        <tr>
                                            <th scope="row">{{ ordinalNumber }}</th>
                                            <td>{{ incomeDetail.date }}</td>
                                            <td>{{ (incomeDetail.amount)|number_format(2, '.', ' ') }}</td>
                                            <td>{{ incomeDetail.category }}</td>
                                            <td>{{ incomeDetail.comment }}</td>
                                            <td>
                                                <button class="btn btn-sm btn-delete" type="submit" name="deleteIncome" value='{{ incomeDetail.id }}'><i class="icon-cancel"></i></button>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </form>
                    </div>
                </div>

                <div class="row my-4">
                   <div id="expensesDetailed" class="col">
                      <form>
                         <table class="table table-responsive-sm table-sm table-striped table-secondary text-center">
                            <thead>
                               <tr>
                                  <th scope="col" colspan="7">Szczegółowe zestawienie wydatków</th></tr><tr><th scope="col">Lp.</th>
                                  <th scope="col">Data</th>
                                  <th scope="col">Kwota</th>
                                  <th scope="col">Kategoria</th>
                                  <th scope="col">Sposób płatności</th>
                                  <th scope="col">Komentarz</th>
                                  <th scope="col">Usuń</th>
                               </tr>
                            </thead>
                            <tbody>
                                {% set ordinalNumber = 0 %}

                                {% for expenseDetail in expensesDetail %}
                                    {% set ordinalNumber = ordinalNumber + 1 %}

                                    <tr>
                                        <th scope="row">{{ ordinalNumber }}</th>
                                        <td>{{ expenseDetail.date }}</td>
                                        <td>{{ (expenseDetail.amount)|number_format(2, '.', ' ') }}</td>
                                        <td>{{ expenseDetail.category }}</td>
                                        <td>{{ expenseDetail.paymentMethod }}</td>
                                        <td>{{ expenseDetail.comment }}</td>
                                        <td>
                                            <button class="btn btn-sm btn-delete" type="submit" name="deleteExpense" value={{ expenseDetail.id }}><i class="icon-cancel"></i></button>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                         </table>
                      </form>
                   </div>
                </div>

                <div class="row">
                   <footer class="col bg-blockquote">
                     <blockquote>
                       <p>Kto wydaje więcej niż zarabia, wpada w pułapkę niepotrzebnych zachcianek, z której szybko dostaje się na dno kłopotów i upokorzenia.</p>
                       <small>Robert Kiyosaki</small>
                     </blockquote>
                   </footer>
                 </div>

             </div>

          </div>
       </div>
    </div>

 </article>

 <section>
    <div class="modal fade" id="choosePeriod" tabindex="-1" role="dialog" aria-labelledby="choosePeriodLabel"
       aria-hidden="true">
       <div class="modal-dialog" role="document">
          <div class="modal-content">
             <div class="modal-header">
                <h5 class="modal-title" id="choosePeriodLabel">Wybierz zakres dat</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                   <span aria-hidden="true">&times;</span>
                </button>
             </div>
             <form class="text-center form-control" action="/niestandardowy-okres" method="post">
                <div class="modal-body">

                   <div class="row">
                      <div class="form-group form-inline col form-control-sm">
                         <span class="text-primary mr-3 font-weight-bold">Od:</span>
                         <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1"><i class="icon-calendar"></i></span>
                         </div>
                         <label for="date1" class="sr-only">Data</label>
                         <input type="date" id="date1" class="form-control col-9" name="dateStart" aria-label="Data" aria-describedby="basic-addon1" required {% for date in oldestDate %} value={{ date.date }} {% endfor %}>
                      </div>
                   </div>

                   <div class="row">
                      <div class="form-group form-inline col form-control-sm">
                         <span class="text-primary mr-3 font-weight-bold">Do:</span>
                         <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon2"><i class="icon-calendar"></i></span>
                         </div>
                         <label for="date2" class="sr-only">Data</label>
                         <input type="date" id="date2" class="form-control col-9" name="dateEnd"
                            aria-label="Data" aria-describedby="basic-addon2" required {% for date in yungestDate %} value={{ date.date }} {% endfor %}>
                      </div>
                   </div>

                </div>
                <div class="modal-footer">
                   <button type="button" class="btn btn-reset btn-md" data-dismiss="modal">Zamknij</button>
                   <button type="submit" class="btn btn-success btn-md">Zapisz zmiany</button>
                </div>
             </form>
             
          </div>
       </div>
    </div>
 </section>

{% endblock %}

{% block footer %}

<script src="/js/jquery.scrollTo.min.js"></script>
<script src="/js/loader.js"></script>

<script src="/js/personalbudget.js"></script> 

<script>

    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart(){

        var data = google.visualization.arrayToDataTable([
        	['Name', 'Value'],
            {% for record in jsonPieChart %}
          		['{{ record.category }}', {{ record.total }}],
          	{% endfor %}
        ]);

        var options = {
            title:'Wydatki - graficznie',
            titleTextStyle:{color:'#52361b', fontSize:20, bold:1},
            legend: 'none',
            width:'100%',
            height:330,
            backgroundColor:'lightgray',
            sliceVisibilityThreshold:.005,
            margin:'0px',
            paddings:'0px',
            pieHole:0.4,
            borderradius:'20px'
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));
        chart.draw(data, options);
    }

    jQuery(function($)
    {
          //reset scroll
          $.scrollTo(0);
          $('.scrollup').click(function() { $.scrollTo($('body'), 1000); })
    });
    
    //show during scrolling
    $(window).scroll(function()
    {
        if($(this).scrollTop()>300)
            $('.scrollup').fadeIn();
        else
            $('.scrollup').fadeOut();
    });
    
    $(window).resize(function(){
       drawChart();
    });
    
    //listeningForElements();

 </script>

{% endblock %}
